@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;

  --color-background: #121212;
  --color-surface: #1E1E1E;
  --color-surface-elevated: #2A2A2A;
  
  --color-border: #333333;
  
  --color-text-primary: #F9FAFB;
  --color-text-secondary: #94A3B8;
  --color-text-muted: #64748B;
  
  --color-positive: #10B981;
  --color-negative: #EF4444;
  --color-warning: #F59E0B;
  --color-premium: #D97706;
  --color-focus: #3B82F6;
}

@layer base {
  body {
    font-family: var(--font-sans);
    font-feature-settings: "tnum";
    font-variant-numeric: tabular-nums;
    background-color: var(--color-background);
    color: var(--color-text-primary);
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
  }
}
